
<div id="transparent">

<h1>SUBMAPPER</h1>

<%= link_to 'Populate the Subway Database', populate_path, :id => 'button'  %>

<%= link_to 'Get Subway Map', entrances_path, :id => 'button' %><br><br>

<h4>
  Submapper is an application built on top of the Google Maps API and NYC's Open Data API for NYC subway entrances. The "Populate" button adds all New York City subway entrance locations to the database, allowing users to search for any subway line and see all of the entrances on a map. <br><br>
  You can also click the "Get Map" to skip over the data processing and go right to the search form.
</h4>

</div>